<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>eCommerce</display-name>
  <welcome-file-list>
    <welcome-file>Home</welcome-file>
  </welcome-file-list>
  <!-- START dichiarazioni servlet -->
   <servlet>
    <servlet-name>Root</servlet-name>
    <servlet-class>it.eCommerce.servlet.RootServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageLanguages</servlet-name>
    <servlet-class>it.eCommerce.servlet.common.language.ManageLanguages</servlet-class>
  </servlet>
  
  <servlet>
  	<!-- Il nome della servlet deve coincidere con il servlet mapping -->
    <servlet-name>ManageBrands</servlet-name>
    <servlet-class>it.eCommerce.servlet.common.brands.ManageBrands</servlet-class>
    <multipart-config>
    	<!-- imposto la soglia max del file a 1MB  -->
    	<max-file-size>1048576</max-file-size>
    	<max-request-size>1058576</max-request-size>
    	<!-- Dopo quale limite inizio a scrivere il file sul disco,
    	altrimenti scarica il file automaticamente-->
    	<file-size-threshold>524288</file-size-threshold>
    </multipart-config>
  </servlet>
  <!-- END dichiarazioni servlet -->
  
  
  <!-- START dichiarazioni servlet-mapping -->
  <servlet-mapping>
		<servlet-name>Root</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ManageLanguages</servlet-name>
    <url-pattern>/ManageLanguages</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ManageBrands</servlet-name>
    <url-pattern>/ManageBrands</url-pattern>
  </servlet-mapping>
  <!-- END dichiarazioni servlet-mapping -->
    <context-param>
    <param-name>urlSite</param-name>
    <param-value>http://Alfa-305-PC:8050</param-value>
  </context-param>
  <context-param>
    <param-name>managedLanguages</param-name>
    <param-value>it fr en</param-value>
  </context-param>
</web-app>